@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 50% 50%, #1a1a2e, #738ecb, #a8a6ba, #24243e);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}